{% extends "dashboard/base.html" %} {% block content %}
<div class="container" style="margin-top: 5rem;">
    <h3>XRP_MXN</h3>
    <p>Time is CET minus 2hrs</p>

    <div id="container" style="height: 400px; min-width: 310px"></div>

    <button onclick="download_csv_file()">Download 30 min Volume</button>
</div>
<div class="container" style="margin-top: 5rem;">
    <h3>BTC premium</h3>

    <div id="container_btc" style="height: 400px; min-width: 310px"></div>
</div>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    exportData = {{exportData|safe}};
  
    //create a user-defined function to download CSV file
    function download_csv_file() {
  
        //define the heading for each row of the data
        var csv = 'Timestamp,Volume\n';
  
        //merge the data with CSV
        exportData.forEach(function(row) {
                csv += row.join(',');
                csv += "\n";
        });
  
  
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
  
        //provide the name for the CSV file to be downloaded
        hiddenElement.download = 'bitso_30min.csv';
        hiddenElement.click();
    }
</script>
<script>
  volume = {{volume|safe}};

   // create the chart
   Highcharts.stockChart("container", {
       title: {
       text: "Bitso trades",
       },

       subtitle: {
       text: "XRP_MXN",
       },

       xAxis: {
       gapGridLineWidth: 0,
       },
       yAxis: [
       {
           labels: {
           y: -2,
           },
           opposite: false,
           showLastLabel: false,
           title: {
           text: "",
           align: "high",
           offset: 0,
           rotation: 0,
           y: -1,
           x: -8,
           style: {
               fontWeight: "bold",
           },
           },
           events: {},
           lineWidth: "2",
           type: "linear",
           maxPadding: 0.2,
           floor: "",
           id: "axis-main",
           height: "0%",
           index: 0,
       },
       {
           labels: {
           y: -2,
           },
           opposite: false,
           showLastLabel: false,
           title: {
           text: "Volume",
           align: "high",
           offset: 0,
           rotation: 0,
           y: -3,
           x: -7,
           style: {
               fontWeight: "bold",
           },
           },
           events: {},
           id: "axis-volume",
           offset: 0,
           lineWidth: 2,
           min: 0,
           top: "0%",
           height: "100%",
           index: 1,
       },
       ],

       plotOptions: {
        series: {
            connectNulls: true
        }
    },

       rangeSelector: {
       buttons: [
           {
           type: "hour",
           count: 1,
           text: "1h",
           },
           {
           type: "day",
           count: 1,
           text: "1D",
           },
           {
           type: "all",
           count: 1,
           text: "All",
           },
       ],
       selected: 1,
       inputEnabled: false,
       },

       series: [
       {
           name: "volume",
           type: "column",
           data: volume,
           tooltip: {
           valueDecimals: 0,
           },
           yAxis: 1,
           dataGrouping: {
           enabled: false,
           },
       },

       ],
   });
</script>
<script>
    btcPremium = {{btcPremium|safe}};

    var n = 120,
    s = 1,
    pointStart = Date.UTC(2023, 0, 6, 20),
    pointEnd = Date.UTC(2023, 7, 6, 20),
    pointInterval = 24 * 36e5;

    function getSeries(n, s) {
        var i = 0,
            r = [];

        for (; i < s; i++) {
            r.push({
                name: 'bps',
                data: btcPremium,
                dataGrouping: {
                    enabled: false
                },
                lineWidth: 0,
                marker: {
                    enabled: true,
                    radius: 2
                },
                tooltip: {
                    valueDecimals: 6
                },
                states: {
                    hover: {
                        lineWidthPlus: 0
                    }
                },
                boostThreshold: 1,
                turboThreshold: 1,
                showInNavigator: true,
                
            });
        }

        return r;
    }

    var series = getSeries(n, s);

    Highcharts.stockChart('container_btc', {

        title: {
            text: 'Weekends BTC Bitso Premium'
        },

        navigator: {
            xAxis: {
                ordinal: false,
                min: pointStart,
                max: pointEnd //pointStart + n * pointInterval
                //breaks: [{ 
                //    from: Date.UTC(2023, 0, 6, 20),
                //    to: Date.UTC(2023, 0, 8, 20),
                //    repeat: 7 * 24 * 36e5
                //}]
            },
            
            //series: {
            //    color: null // Inherit from base
            //}
        },

        //scrollbar: {
        //    liveRedraw: false
        //},

        legend: {
            enabled: false
        },

        xAxis: {
            min: pointStart,
            max: pointEnd, //pointStart + n * pointInterval,
            ordinal: false,
           
        },
        tooltip: {
            valueDecimals: 6,
            //split: false
        },

        series: series

    });
</script>

{% endblock content %}
